@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
body{
    background: rgb(80, 79, 79);
}

h1{
    color: whitesmoke;
    font-family: 'Rubik Mono One', sans-serif;
}
li{
    list-style : url(list.png);
    list-style-position : inside left;
    font-size: 30px;
   
    margin-left: 35%;
    margin-right: 35%;
    margin-top : -1px;
    margin-bottom: -1px;
    font-family: 'Changa', sans-serif;
    color: bisque;
}
input{
    border: solid thin bisque;
    border-top-right-radius : 50px;
    border-bottom-right-radius : 50px;
    border-left: none;
    border-right-style: thick;
    height: 50px;
    width: 25%;
    background: none;
}
button{
    background: none;
    border: none;
    background-image: url(add.png);
    color: antiquewhite;
    font-family: 'Rubik Mono One', sans-serif; 
}
a{
    border: solid thin antiquewhite;
    border-left : none;
    border-right : none;
    border-bottom : none;
    
    text-decoration: none;
    color: antiquewhite;
}